[data-theme='light'] {
    --background-color: #ef6b68;
    --text-color: #1f233e;
    --input-color: inherit;
    --input-text-color: white;
    --placeholder-color: whitesmoke;
    --submit-color: #ef6b68;
    --toggle-color: #ef6b68;
    --heading-response-color: rgb(236, 139, 139);
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: white;
    --input-color: white;
    --input-text-color: black;
    --placeholder-color: black;
    --submit-color: gray;
    --toggle-color: whitesmoke;
    --heading-response-color: rgba(245, 147, 245, 0.733);
}

* {
    margin: 0;
    font-size: 2.5vw;
}

html, #root {
    height: 100%;
}

body, #root {
    top: 0;
    height: 100%;
}

header {
    text-align: center;
    background-color: var(--background-color);
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#pagename{
    font-weight: bold;
    font-size: 1rem;
}

main {
    background-color: var(--background-color);
    height: 100%;
    text-align: center;
}

h1 {
    font-family: Work Sans, sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.6px;
    text-align: center;
    color: var(--text-color);
}

h3, p {
    font-size: 0.4rem;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#input {
    width: 20%;
    height: 1rem;
    border-radius: 3.2px;
    border: solid 0.8px #1f233e;
    background-color: var(--input-color);
    display: block;
    margin: 1vh auto;
    font-family: Source Sans Pro;
    font-size: 0.4rem;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--input-text-color);
}

::placeholder{
    color: var(--placeholder-color);
    opacity: 50%;
}

#submit {
    width: 10%;
    border-radius: 2px;
    border-color: inherit;
    background-color: #1f233e;
    padding: 0.5vh;
    margin: 1vh auto;
    font-family: Work Sans, sans-serif;
    font-size: 0.4rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: var(--submit-color);
}

#submit:disabled {
    background-color: gray;
    color: black;
}

#warn_valid {
    font-size: 0.4rem;
    margin: 0.1rem 0;
}

#responseField {
    width: 30%;
    height: 45vh;
    background-color: #1f233e;
    margin: 0.5rem auto;
    font-family: Source Sans Pro;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #ffffff;
    overflow-wrap: break-word;
    overflow-y: scroll;

    /*Hide scrollbar*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*Hide scrollbar*/
#responseField::-webkit-scrollbar {
    display: none;
}

#toggle {
    width: max-content;
    border-radius: 2px;
    border-color: inherit;
    background-color: #1f233e;
    margin: 1vh auto;
    padding: 0.5vh;
    font-family: Work Sans, sans-serif;
    font-size: 0.45rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: var(--toggle-color);
}

#submit:hover, #toggle:hover{
    color: #ffffff;
    cursor: pointer;
}

#submit:active, #toggle:active{
    background-color: #ffffff;
    border-color: #ffffff;
    color: var(--submit-color);
    cursor: pointer;
}

#def{
    letter-spacing: 2px;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;

    position: sticky;
    /* for safari browser */
    position: -webkit-sticky;

    top: 0;
    margin-top: 0;
    margin-bottom: 5px;
    background-color: gray;
    width: 100%;
}

#display{
    padding: 0.4rem;
    text-align: justify;
}

.partOfSpeech{
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--heading-response-color);
    font-size: 0.4rem;
    line-height: 0.5rem;
}


.element{
    font-size: 0.4rem;
    margin: 2px
}

.loading{
    padding: 0.4rem;
    text-align: center;
}

.loading i{
    color: white;
}

.warning {
    padding: 0.4rem;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.4rem;
}

#scroll{
    text-align: center;
    background-color: white;
    color: rgb(85, 85, 85);
    font-weight: bolder;
    font-size: 0.1rem;

    /* fix at the bottom of overflow div */
    position: sticky;
    
    /* for safari browser */
    position: -webkit-sticky;
    bottom: 0;
    z-index: 99;
    
}

/* Create up arrow */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px 0 -3px 0;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Responsive */

@media only screen and (max-width: 1100px) {
    * {
        font-size: 3.5vw;
    }

    #input {
        width: 30%;
    }

    #submit {
        width: 15%;
    }

    #responseField {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) and (min-height: 1300px){
    * {
        font-size: 6vw;
    }

    #input {
        width: 50%;
    }

    #submit {
        width: 35%;
    }

    #responseField {
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    * {
        font-size: 4.75vw;
    }

    #input {
        width: 35%;
    }

    #submit {
        width: 20%;
    }

    #responseField {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) and (min-height: 1100px) {
    * {
        font-size: 7vw;
    }

    #input {
        width: 45%;
    }

    #submit {
        width: 30%;
    }

    #responseField {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) and (min-height: 1000px) {
    * {
        font-size: 7vw;
    }

    #input {
        width: 45%;
    }

    #submit {
        width: 30%;
    }

    #responseField {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 7.5vw;
    }

    #input {
        width: 45%;
    }

    #submit {
        width: 30%;
    }

    #responseField {
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    * {
        font-size: 9vw;
    }

    #input {
        width: 55%;
    }

    #submit {
        width: 40%;
    }

    #responseField {
        width: 90%;
    }
}

@media only screen and (max-width: 350px) {
    * {
        font-size: 10vw;
    }

    #input {
        width: 65%;
    }

    #submit {
        width: 50%;
    }

    #responseField {
        width: 90%;
    }
}